.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Navbar-wrapper {
  background: rgba(255, 255, 255, 0);
  padding-left: 2%;
  padding-right: 5%;
  border: none;
  box-shadow: none;
}

.Navbar-wrapper,
p {
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

.Navbar,
a {
  color: black;
  text-decoration-color: black;
  font-weight: bold;
}

.Login-wrapper {
  background-image: url("./images/background-login2.jpg");
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 5% 20% 5%;
}

.FormLogin-wrapper {
  width: 40%;
  height: 20%;
  margin: 10% 10% 20% 30%;
}

.FormLogin-wrapper,
p {
  text-align: center;
}

.LoginForm {
  padding: 100px;
  z-index: 1;
}


.Login-form {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
}
#footer {
  position: relative;
  width: 100%;
}
.Background-image-home {
  height: 600px;
  background-size: cover;
}
.Background-image-login {
  height: 600px;
  background-size: cover;
}

.Register-form {
  width: 100%;
  height: auto;
  padding: 5% 20% 5%;
}
.Register-wrapper {
  background-image: url("./images/background-register-welcomeboard.jpeg");
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 5% 20% 5%;
}

.Update-form {
  width: 100%;
  height: auto;
  padding: 5% 20% 5%;
}
/* Cambiar Foto fondo */
.Update-wrapper {   
  background-image: url("./images/background-register-welcomebar.jpeg");
  background-size: cover;
  width: 100%;
  height: auto;
  padding: 5% 20% 5%;
}
